<div id="listUser">
    @{ Html.RenderAction(MVC.SessionRequest.List());}
</div>

@section Scripts{
    <script src="@Url.Content(Links.Scripts.Application.SessionRequestController_min_js)"></script>
}
