<li class="dropdown">
    <a data-toggle="dropdown" class="tm-message" href="">
        <i class="tmn-counts">0</i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg pull-right">
        <div class="listview">
            <div class="lv-header">
                @LocalMessage.Messages
            </div>
            <div class="lv-body">
                
            </div>
            <a class="lv-footer" href="#">@LocalMessage.ViewAll</a>
        </div>
    </div>
</li>
