@model long
@{
    Layout = null;
    var Percent = Math.Round(Convert.ToDouble(Model * 100 / 5000000));
}
<div class="lv-item">
    <div class="media">
        <div class="lv-title m-b-5">
            @LocalMessage.Statistics (@Percent%)
            <div class="pull-left">@Model.ToString()/5000000</div>
        </div>
        <div class="media-body">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@Model" aria-valuemin="0" aria-valuemax="5000000" style="width:@Percent%">
                </div>
            </div>
        </div>
    </div>
</div>