@model YekanPedia.ManagementSystem.Domain.Entity.User
    @{
        Layout = null;
    }

    <div class="lc-block" id="l-register">
        <img class="lcb-user" src="@Url.Content(Links.Content.Images.Logo.Logo_png)" alt="@LocalMessage.YekanPedia">
        <div class="input-group m-b-20">
        </div>
        <div class="input-group has-error has-feedback m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="@">
            </div>
            <small class="help-block">نام کاربری قبلا ثبت شده است</small>

            <span class="zmdi zmdi-close form-control-feedback"></span>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="آدرس ایمیل">
            </div>
        </div>
        <div class="input-group m-b-20 has-passwordStrongly has-feedback">
            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control PasswordStrongly" placeholder="کلمه عبور">
            </div>
            <small class="help-block"></small>
            <span class="zmdi  form-control-feedback"></span>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Mobile">
            </div>
        </div>

        <a href="" class="btn btn-login btn-danger btn-float">
        <i class="zmdi zmdi-arrow-left"></i></a>
        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-nily">ورود</li>
            <li data-block="#l-forget-password" class="bgm-red">بازیابی کلمه عبور</li>
        </ul>
    </div>