@{
    Layout = null;
}

 <div class="timeline">
    <div class="t-view" data-tv-type="text">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-right">
                <img class="img-responsive" src="../src/Content/Images/User/Sir.jpg" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">کوروش یکان</strong>
                <small class="c-gray">یک شنبه 14 ابان 1394 ساعت 15:21</small>
            </div>
        </div>
        <div class="tv-body">
            <p>نیب شسمینب شمسینب شمسنیب سیمشنب میسنش بمنسیش بنسشیمنب شسمیب مسیبمشسی بمیسب</p>
            <p>dsajkf sdakjf kasd fkja sdfiukjf dkjf kjasdf ksdajfkjsad fjsdafkjsda fj</p>
            <div class="clearfix"></div>
            <ul class="tvb-stats">
                <li class="tvbs-comments">
                    54
                    <i class="zmdi zmdi-comment"></i>
                </li>
                <li class="tvbs-likes">254 <i class="zmdi zmdi-thumb-up"></i></li>
                <li class="tvbs-views">23K <i class="zmdi zmdi-eye"></i></li>
            </ul>
        </div>
        <div class="tv-comments">
            <ul class="tvc-lists">
                <li class="media">
                    <a href="" class="tvh-user pull-right">
                        <img class="img-responsive" src="../src/Content/Images/Avatar/4.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">محمد کریمی</strong>
                        <small class="c-gray">22 آبان 1394 ساعت 21:45</small>
                        <div class="m-t-10">یب یمشنب مشسین بمنسیشت بمنت یبمنیس</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="t-view" data-tv-type="image">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-right">
                <img class="img-responsive" src="../src/Content/Images/User/Sir.jpg" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">کوروش یکان</strong>
                <small class="c-gray">یک شنبه 14 ابان 1394 ساعت 15:21</small>
            </div>
        </div>
        <div class="tv-body">
            <div class="lightbox m-b-20">
                <div data-src="../src/Content/Images/Bussiness/card.jpg">
                    <div class="lightbox-item pull-right">
                        <img src="../src/Content/Images/Bussiness/card.jpg" alt="">
                    </div>
                </div>
            </div>
            <p>یبن شیسمنبتمشنیس بمنشسی بنشسیمنبسشیمنبشسمینبسشیمنبت نمسشیب</p>
            <div class="clearfix"></div>
            <ul class="tvb-stats">
                <li class="tvbs-comments">
                    54
                    <i class="zmdi zmdi-comment"></i>
                </li>
                <li class="tvbs-likes">254 <i class="zmdi zmdi-thumb-up"></i></li>
                <li class="tvbs-views">23K <i class="zmdi zmdi-eye"></i></li>
            </ul>
        </div>
    </div>
    <div class="t-view" data-tv-type="image">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-right">
                <img class="img-responsive" src="../src/Content/Images/User/Sir.jpg" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">کوروش یکان</strong>
                <small class="c-gray">یک شنبه 14 ابان 1394 ساعت 15:21</small>
            </div>
        </div>
        <div class="tv-body">
            <div class="lightbox m-b-20">
                <div class="lightbox tvb-lightbox clearfix">
                    <div data-src="../src/Content/Images/Bussiness/mobile.jpg" class="col-sm-2 col-xs-3">
                        <div class="lightbox-item">
                            <img src="../src/Content/Images/Bussiness/mobile.jpg" alt="">
                        </div>
                    </div>
                    <div data-src="../src/Content/Images/Bussiness/card.jpg" class="col-sm-2 col-xs-3">
                        <div class="lightbox-item">
                            <img src="../src/Content/Images/Bussiness/card.jpg" alt="">
                        </div>
                    </div>
                    <div data-src="../src/Content/Images/Bussiness/mobile.jpg" class="col-sm-2 col-xs-3">
                        <div class="lightbox-item">
                            <img src="../src/Content/Images/Bussiness/mobile.jpg" alt="">
                        </div>
                    </div>
                    <div data-src="../src/Content/Images/Bussiness/card.jpg" class="col-sm-2 col-xs-3">
                        <div class="lightbox-item">
                            <img src="../src/Content/Images/Bussiness/card.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <p>یبن شیسمنبتمشنیس بمنشسی بنشسیمنبسشیمنبشسمینبسشیمنبت نمسشیب</p>
            <div class="clearfix"></div>
            <ul class="tvb-stats">
                <li class="tvbs-comments">
                    54
                    <i class="zmdi zmdi-comment"></i>
                </li>
                <li class="tvbs-likes">254 <i class="zmdi zmdi-thumb-up"></i></li>
                <li class="tvbs-views">23K <i class="zmdi zmdi-eye"></i></li>
            </ul>
        </div>
    </div>
    <div class="t-view" data-tv-type="video">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-right">
                <img class="img-responsive" src="../src/Content/Images/User/Sir.jpg" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">کوروش یکان</strong>
                <small class="c-gray">یک شنبه 14 ابان 1394 ساعت 15:21</small>
            </div>
        </div>
        <div class="tv-body">
            <div class="embed-responsive embed-responsive-16by9 m-b-20">
                <iframe class="embed-responsive-item" src="https://channel9.msdn.com/Blogs/Seth-Juarez/Looking-Ahead-to-C-7-with-Mads-Torgersen/player"></iframe>
            </div>
            <p>سشیبنتسش ینتبسشنتی بنتسشی بشثهق عسینتبا شسی</p>
            <div class="clearfix"></div>
            <ul class="tvb-stats">
                <li class="tvbs-comments">
                    54
                    <i class="zmdi zmdi-comment"></i>
                </li>
                <li class="tvbs-likes">254 <i class="zmdi zmdi-thumb-up"></i></li>
                <li class="tvbs-views">23K <i class="zmdi zmdi-eye"></i></li>
            </ul>
            <a class="tvc-more" href=""><i class="zmdi zmdi-mode-comment"></i> نمایش تمام کامنت ها</a>
        </div>
        <div class="tv-comments">
            <ul class="tvc-lists">
                <li class="media">
                    <a href="" class="tvh-user pull-right">
                        <img class="img-responsive" src="../src/Content/Images/Avatar/4.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">محمد کریمی</strong>
                        <small class="c-gray">22 آبان 1394 ساعت 21:45</small>
                        <div class="m-t-10">یب یمشنب مشسین بمنسیشت بمنت یبمنیس</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh-alt"></i> بیشتر...</a>
    </div>
</div>
