<div class="block-header">
    <h2>@LocalMessage.UserManagement</h2>
</div>
@{ Html.RenderPartial(MVC.User.Views.Partial._SearchBox);}
<div id="listUser">
    @{ Html.RenderAction(MVC.User.ActionNames.Search, MVC.User.Name);}
</div>
@section Scripts{
    <script src="@Url.Content(Links.Scripts.Application.UserController_min_js)" type="text/javascript"></script>
}