
<div id="profile-main">
    @{ Html.RenderAction(MVC.NotificationSetting.AllNotificationSetting());}
</div>
@section Scripts{
    <script src="@Url.Content(Links.Scripts.Application.NotificationSettingController_js)"></script>
}