
<div id="profile-main">
    @{ Html.RenderAction(MVC.NotificationSetting.ActionNames.AllNotificationSetting, MVC.NotificationSetting.Name);}
</div>
@section Scripts{
    <script src="@Url.Content(Links.Scripts.Application.NotificationSettingController_js)"></script>
}