
<div class="row">
    <div class="col-sm-6">
        <div class="card rating-list">
            <div class="listview">
                <div class="lv-header">
                    <div class="m-t-5">
                        @LocalMessage.Statistics
                    </div>
                </div>
                <div class="lv-body">
                    <div class="p-15">
                        @{ Html.RenderAction(MVC.Dashboard.ActionNames.DirectorySize, MVC.Dashboard.Name);}
                        @{ Html.RenderAction(MVC.Dashboard.ActionNames.SmsSize, MVC.Dashboard.Name);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderAction(MVC.Task.ActionNames.GetAllTasksWidget, MVC.Task.Name);}
    <div class="col-sm-12">
        @{ Html.RenderAction(MVC.Scheduler.ActionNames.GetList, MVC.Scheduler.Name);}
    </div>
</div>

@section Scripts{
    @Scripts.Render(Links.Bundles.Scripts.AdminPanelScripts)
}