
<div class="row">
    @{ Html.RenderAction(MVC.Dashboard.UserStatistics());}
    <div class="col-sm-6">
        <div class="card rating-list">
            <div class="listview">
                <div class="lv-header">
                    <div class="m-t-5">
                        @LocalMessage.Statistics
                    </div>
                </div>
                <div class="lv-body">
                    <div class="p-15">
                        @{ Html.RenderAction(MVC.Dashboard.DirectorySize());}
                        @{ Html.RenderAction(MVC.Dashboard.SmsSize());}
                    </div>
                </div>
            </div>
        </div>
        <div class="card rating-list">
            <div class="listview">
                <div class="lv-header">
                    <div class="m-t-5">
                        @LocalMessage.ExpiredClassAndUser
                    </div>
                </div>
                <div class="lv-body">
                    <div class="p-15">
                        @*@{ Html.RenderAction(MVC.Class.ExpiredClass());}
                        @{ Html.RenderAction(MVC.User.ExpiredUser());}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderAction(MVC.Task.GetAllTasksWidget());}


    <div class="col-sm-12">
        @{ Html.RenderAction(MVC.Scheduler.GetList());}
    </div>
</div>

@section Scripts{
    @Scripts.Render(Links.Bundles.Scripts.AdminPanelScripts)
}