<div class="row">
    @{ Html.RenderAction(MVC.ClassType.GetClassType());}
    @{ Html.RenderAction(MVC.Course.GetCourse());}
    @{ Html.RenderAction(MVC.ExamType.GetExamType());}
    @{ Html.RenderAction(MVC.Book.GetBook());}
</div>

@section Scripts{
    @Scripts.Render(Links.Bundles.Scripts.BasicInfoScripts)
}