
@{
    Layout = null;
}

<div id="header-top-second" class="clearfix">
    <div class="header-top-dropdown text-right">
        <div class="btn-group">
            <a href="/Dashboard/User" class="btn btn-info btn-sm waves-effect waves-effect">
                ثبت نام
            </a>
        </div>
        <div class="btn-group">
            <a href="/Dashboard/User" class="btn btn-primary btn-sm waves-effect waves-effect">
                ورود به سیستم
            </a>
        </div>
    </div>
</div>
 

