<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMessagingGateway" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25272/Services/MessagingGateway.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagingGateway"
                contract="MessagingGateway.IMessagingGateway" name="BasicHttpBinding_IMessagingGateway" />
        </client>
    </system.serviceModel>
</configuration>