<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMessagingGateway" />
                <binding name="BasicHttpBinding_IFilesProxy" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://messaginggateway.yekanpedia.org/Services/MessagingGateway.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagingGateway"
                contract="MessagingGateway.IMessagingGateway" name="BasicHttpBinding_IMessagingGateway" />
            <endpoint address="http://files.yekanpedia.org/Services/FilesProxy.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilesProxy"
                contract="FilesProxy.IFilesProxy" name="BasicHttpBinding_IFilesProxy" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
